
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequestLabel">Create or edit a Request</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.request.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.request.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sender">Sender</label>
            <input type="text" class="form-control" name="sender" id="field_sender"
                    ng-model="vm.request.sender"
                    required/>
            <div ng-show="editForm.sender.$invalid">
                <p class="help-block"
                    ng-show="editForm.sender.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiver">Receiver</label>
            <input type="text" class="form-control" name="receiver" id="field_receiver"
                    ng-model="vm.request.receiver"
                    required/>
            <div ng-show="editForm.receiver.$invalid">
                <p class="help-block"
                    ng-show="editForm.receiver.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_metadata">Metadata</label>
            <input type="text" class="form-control" name="metadata" id="field_metadata"
                    ng-model="vm.request.metadata"
                    required ng-maxlength="4000"/>
            <div ng-show="editForm.metadata.$invalid">
                <p class="help-block"
                    ng-show="editForm.metadata.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.metadata.$error.maxlength">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                    ng-model="vm.request.result"
                    required/>
            <div ng-show="editForm.result.$invalid">
                <p class="help-block"
                    ng-show="editForm.result.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_channel">Channel</label>
            <input type="text" class="form-control" name="channel" id="field_channel"
                    ng-model="vm.request.channel"
                    required/>
            <div ng-show="editForm.channel.$invalid">
                <p class="help-block"
                    ng-show="editForm.channel.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_retryCount">Retry Count</label>
            <input type="number" class="form-control" name="retryCount" id="field_retryCount"
                    ng-model="vm.request.retryCount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_requestCreatedDate">Request Created Date</label>
                <div class="input-group">
                    <input id="field_requestCreatedDate" type="text" class="form-control" name="requestCreatedDate" datetime-picker="{{dateformat}}" ng-model="vm.request.requestCreatedDate" is-open="vm.datePickerOpenStatus.requestCreatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('requestCreatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastRetryDate">Last Retry Date</label>
                <div class="input-group">
                    <input id="field_lastRetryDate" type="text" class="form-control" name="lastRetryDate" datetime-picker="{{dateformat}}" ng-model="vm.request.lastRetryDate" is-open="vm.datePickerOpenStatus.lastRetryDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastRetryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sentDate">Sent Date</label>
                <div class="input-group">
                    <input id="field_sentDate" type="text" class="form-control" name="sentDate" datetime-picker="{{dateformat}}" ng-model="vm.request.sentDate" is-open="vm.datePickerOpenStatus.sentDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sentDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sentResultStatus">Sent Result Status</label>
            <select class="form-control" name="sentResultStatus" ng-model="vm.request.sentResultStatus" id="field_sentResultStatus">
                <option value="SMS_EXCEPTION">SMS_EXCEPTION</option>
                <option value="EXECPTION_MIME_MESSAGE">EXECPTION_MIME_MESSAGE</option>
                <option value="MAIL_EXCEPTION">MAIL_EXCEPTION</option>
                <option value="SENT_OK">SENT_OK</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
