<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome, Cahnnel Manager</h1>
            <p class="lead">This is your homepage</p>
            <div style="border:groove;border-top: 0px;width:60%;margin-bottom: 10px; margin-top: 10px ;border-left: 0px;border-right: 0px"></div>
             
            <p class="lead"  style="font-size: 19px">This Version Of Channel Manager includes SMS and Email features</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

<!--             <p> -->
<!--                 If you have any question on JHipster: -->
<!--             </p> -->

<!--             <ul> -->
<!--                 <li><a href="http://jhipster.github.io/" target="_blank" rel="noopener">JHipster homepage</a></li> -->
<!--                 <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li> -->
<!--                 <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li> -->
<!--                 <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li> -->
<!--                 <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li> -->
<!--             </ul> -->

<!--             <p> -->
<!--              <span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">Github</a>! -->
<!--             </p> -->
        </div>
    </div>
</div>
